a.service {
  color: #70d6ff;
}
a.socket {
  color: #ff70a6;
}
a.device {
  color: #b9fbc0;
}
a.mount, a.automount {
  color: #e9ff70;
}
a.swap {
  color: #ff9770;
}
a.target {
  color: #b8b8ff;
}
a.path {
  color: #fbf8cc;
}
a.timer {
  color: #caffbf;
}
a.snapshot {
  color: #d6ccc2;
}
a.slice {
  color: #7161ef;
}
a.scope {
  color: #7bf1a8;
}
